@media (min-width: 900px) and (max-width: 1200px) {
	.bonus1 {
		margin-right: 2.2%
	}

	.bonuses {
		max-width: 46.7%;
		border-radius: 15px;
	}

	.bonus-wrap {
		margin-top: 35px;
	}

	.teaser-list {
		flex-wrap: nowrap;
	}

	.teaser-item img {
		width: 200px;
		height: 200px;
	}

	.ice-cream-text {
		width: 85%;
	}

	.main-features {
		margin: 0 22px 40px 22px;
	}

	.main-features-item {
		min-width: 401px;
	}

	.feature4 {
		min-width: 400px;
	}

	.news-blog,
	.distribution {
		max-width: 46.7%;
	}
	
	.distribution {
		padding: 32px 30px 42px 28px;
	}

	.news-blog {
		margin-right: 20px;
		background-position-x: -145px;
	}

	.whatsnew {
		color: #5a5a5a;
	}

	.subscribe-form {
		margin-top: 16px;
	}

	.production,
	.standarts {
		margin-top: 8px;
	}

	.main-footer {
		padding: 0 22px;
	}

	.social-list {
		padding: 42px 0 30px 0;
	}

	.footer-copyright {
		padding-bottom: 12px;
	}
}