@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"),
	url("../fonts/web/roboto.woff") format("woff"),
	url("../fonts/web/roboto.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto bold"),
	url("../fonts/web/robotobold.woff") format("woff"),
	url("../fonts/web/robotobold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: local("Roboto medium"),
	url("../fonts/web/robotomedium.woff") format("woff"),
	url("../fonts/web/robotomedium.woff2") format("woff2");
}

body {
	margin: 0;
	font-family: "Roboto", "Times new roman", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	background-color: #849d8f;
	color: #ffffff;
}

img {
  	max-width: 100%;
}

a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.button-red{
	color: #ffffff;
	background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	border: none;
}

html {
  	box-sizing: border-box;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	margin: 0;
}

h2 {
	margin: 0;
}

.navigation-item {
	line-height: 18px;
	font-weight: 700;
	border-bottom: 1px solid #b0c0b7; 
}

.search-background {
	border-radius: 50%;
	background-color: #b0c0b7;
	width: 30px;
	height: 30px;
}

.search {
	display: none;
}

.search-image:hover .search {
	display: block;
	cursor: pointer;
}

.recycle-wrap {
	background-color: #b0c0b7;
	border-radius: 30px;
	width: 116px;
	padding-left: 16px;
	padding-top: 5px;
	padding-bottom: 6px;
}

.enter-background {
	background-color: #b0c0b7;
	border-radius: 30px;
	width: 92px;
	padding: 6px 16px 7px 16px;
	height: 32px;
}

.search-image:hover,
.enter-wrap:hover,
.recycle-wrap:hover {
	cursor: pointer;
}

.enter-wrap:hover .user-email {
	display: block;
}

.user-email {
	display: none;
}

.user-text {
	font-size: 14px;
	line-height: 24px;
	color: #999999;
}

.lost-password,
.new-registration {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}

.hours {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}

.phone-white {
	font-size: 18px;
	line-height: 24px;
}

.cost {
	font-size: 45px;
}

.cost-other {
	font-size: 24px;
	font-weight: 700;
}

.ice-cream-text {
	font-weight: 600;
	border-bottom: 1px solid #b0c0b7;
}

.button-watch {
	display: none;
}

.twitter-icon,
.instagram-icon,
.facebook-icon,
.vk-icon {
	border: 3px solid #c2cec7;
	border-radius: 50%;
}

.suppliers {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	border-bottom: 1px solid #b0c0b7;
}

.production,
.about-documents,
.standarts {
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid #b0c0b7;
}

.made-in {
	font-size: 12px;
	line-height: 18px;
}

.made-in-underline {
	text-decoration: underline;
}

       /* главная страница */

.catalog:hover {
	color: #000000;
	border-radius: 30px;
	background-color: #ffffff;
	padding: 3px 11px 6px 11px;
}

.catalog:active {
	box-shadow: 0 -2px 0 0 #696969;
}

.delivery:active,
.company:active {
	box-shadow: 0 -2px 0 0 #696969;
}

.delivery:hover,
.company:hover {
	color: #000000;
	border-radius: 30px;
	background-color: #ffffff;
	padding: 3px 11px 6px 11px;
}

.navigation-item:hover .catalog-list {
	display: block;
}

.catalog-list {
	display: none;
	background-color: #f8f7f4;
	border-radius: 5px;
	max-width: 144px;
}

.catalog-type-new {
	font-weight: 700;
	color: #323232;
	border-bottom: 1px solid #d1d0ce;
}

.catalog-type{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.catalog-item {
	padding-left: 20px;
	padding-top: 12px;
	padding-bottom: 13px;
}

.catalog-item:hover {
	background-color: #fbded7;
}

.catalog-item:active {
	background-color: #f6b5a5;
}

.enter-text,
.recycle-text {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
}

.button-choose {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
}

.slider {
	text-indent: -1000px;
	border: none;
	border-radius: 50%;
	background-image: none;
	box-shadow: none;
	background-color: #ffffff;
}

.free-bonus {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.button-bonus1,
.button-bonus2,
.button-watch,
.button-order {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.bonus1 {
	background-image: url("../img/raspberry.jpg");
	background-repeat: no-repeat;
}

.bonus2 {
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
}

.bonus-text {
	font-size: 18px;
	font-weight: 700;
}

.teaser-item img {
	border-radius: 50%;
}

.teaser-item:hover {
	cursor: pointer;
	background-color: #9cb0a4;
}

.teaser-item:hover .button-watch {
	display: block;
}

.main-features {
	background-image: url("../img/waffle.jpg");
	background-repeat: no-repeat;
}

.feedback-text {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
}

.about-main-features {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: #323232;
}

.main-features-text {
	color: #323232;
}

.whatsnew {
	font-weight: 600;
	color: #323232;
}

.news {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
}

.news-blog {
	background-image: url("../img/newsblog.jpg");
	background-repeat: no-repeat;
}

.subscribe {
	color: #5a5a5a;
}

.distribution {
	background-image: url("../img/post-bckgrd.jpg");
	background-repeat: no-repeat;
}

.address-text {
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.address,
.phone-black {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.address-column {
	background-color: #fdfefe;
	max-width: 302px;
}

.feedback,
.email {
	font: inherit;
	line-height: 24px;
	color: #323232;
}

.modal-feedback {
	display: none;
	background-color: #f8f7f4;
}

      /* внутренняя */

.recycle-text2 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #323232;
}

.recycle-products {
	display: none;
}

.inner-page .recycle-wrap {
	background-color: #f7f6f3;
}

.big-recycle:hover .recycle-products {
	display: block;
}

.recycle-products {
	background-color: #f8f7f4;
}

.recycle-cost {
	font-size: 15px;
	line-height: 18px;
	color: #323232;
} 

.product-text,
.product-cost {
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.grey {
	font-size: 13px;
	line-height: 16px;
	color: #999999;
}

.catalog-current {
	border-radius: 30px;
	background-color: #d07058;
	padding: 3px 11px 6px 11px;
}

.breadcrumbs-item {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs1,
.breadcrumbs2 {
	border-bottom: 1px solid #b0c0b7;
}

.inner-page h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.sorting-text,
.sorting-cost,
.percents-text,
.stuff {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
}

.sorting-popular,
.percents-item,
.stuff-list-item,
.button-use {
	line-height: 18px;
	font-weight: 600;
} 

.button-use {
	cursor: pointer;
}

.popular-list {
	display: none;
}

.sorting-popular:hover {
	cursor: pointer;
	color: #323232;
}

.sorting-popular:hover .popular-list {
	display: block;
}

.first-row-item img,
.second-row-item img,
.third-row-item img {
	border-radius: 50%;
}

.first-row-item:hover,
.second-row-item:hover,
.third-row-item:hover {
	cursor: pointer;
	background-color: #9cb0a4;
} 

.first-row-item:hover .button-watch,
.second-row-item:hover .button-watch,
.third-row-item:hover .button-watch {
	display: block;
}

.pagination .prev {
	text-indent: -1000px;
	background-image: url("../img/catalog/icon-left-small.svg");
	background-repeat: no-repeat;
}

.pagination .next {
	text-indent: -1000px;
	background-image: url("../img/catalog/icon-right-small.svg");
	background-repeat: no-repeat;
}