@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"),
	url("../fonts/web/roboto.woff") format("woff"),
	url("../fonts/web/roboto.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto bold"),
	url("../fonts/web/robotobold.woff") format("woff"),
	url("../fonts/web/robotobold.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 600;
	src: local("Roboto medium"),
	url("../fonts/web/robotomedium.woff") format("woff"),
	url("../fonts/web/robotomedium.woff2") format("woff2");
}

body {
	margin: 0;
	font-family: "Roboto", "Times new roman", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	background-color: #849d8f;
	color: #ffffff;
}

img {
  	max-width: 100%;
}

a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

a.whiteref:hover,
a.whiteref:active {
	color: #ffbc9e;
	text-decoration-color: #a7a294;
}

a.blackref:hover,
a.blackref:active {
	color: #e84d37;
	text-decoration-color: #ffbc9e;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.button-red{
	color: #ffffff;
	background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 0px 0px rgba(172, 16, 0, 0.64);
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	border: none;
	border-radius: 25px;
	padding: 10px 27px;
	outline: none;
}

.button-red:hover {
	background-image: linear-gradient(to bottom, rgb(244, 133, 104) 0%, rgb(237,113,95) 100%);
}

.button-red:active {
	background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: inset 0px 2px 0px 0px rgba(149, 39, 24, 0.64);
}

html {
  	box-sizing: border-box;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
 	margin: -1px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

p {
	margin: 0;
}

h2 {
	margin: 0;
}

.main-header {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-wrap {
	display: flex;
	padding: 8px 25px 0 25px;
}

.site-navigation {
	display: flex;
	padding-top: 20px;
}

.forms {
	display: flex;
	margin-left: auto;
	padding-top: 12px;
}

.logo {
	margin-right: 10px;
}

.navigation-item {
	line-height: 18px;
	font-weight: 700;
}

.navigation-item.first {
	position: relative;
}

.search-background {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #b0c0b7;
	width: 32px;
	height: 32px;
}

.search-background:hover {
	background-color: #f8f7f4;
}

.search-background:hover path {
	fill: #000000;
}

.search-form {
	position: absolute;
	display: none;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  	border-radius: 5px;
  	width: 342px;
  	padding: 20px 15px 20px 15px;
  	margin-top: 5px;
  	right: 0;
}

.user-text {
	font-size: 14px;
	line-height: 24px;
	color: #323232;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	padding: 8px 14px;
	width: 100%;
}

.user-text:hover {
	border: 2px solid #999999;
} 

.user-text:focus {
	outline: none;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	font-weight: 700;
}

.user-text:focus::placeholder {
	font-size: 0;
}

.search-image {
	position: relative;
}

.search-image:hover .search-form {
	display: block;
	cursor: pointer;
}

.recycle-wrap {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #b0c0b7;
	border-radius: 30px;
	width: 116px;
	padding-left: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.enter-item {
	position: relative;
}

.enter-item,
.recycle-item {
	padding-left: 10px;
}

.enter-background {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b0c0b7;
	border-radius: 30px;
	width: 92px;
	padding: 6px 16px 7px 16px;
	height: 32px;
}

.enter-background:hover path {
	fill: #000000;
}

.enter-background:hover {
	color: #323232;
}

.search-image:hover,
.enter-wrap:hover,
.recycle-wrap:hover {
	cursor: pointer;
}

.enter-wrap:hover .user-email-wrap {
	display: block;
}

.user-email-wrap {
	position: absolute;
	display: none; 
	width: 280px;
	right: 0;
	z-index: 1;
}

.user-email {
	display: flex;
	flex-direction: column;
	background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  	border-radius: 5px;
	max-width: 277px;
	margin-top: 5px;
	padding: 20px 18px;
}

.email-wrap1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;	
}

.email-wrap2 {
	padding-left: 13px;
} 

.user-text.enter-password {
	margin-top: 20px;
}

.button-enter {
	padding: 13px 27px;
}

.lost-password,
.new-registration {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	border-bottom: 1px solid #999999;
}

.business-hours {
	margin-left: auto;
	max-width: 195px;
	text-align: right;
	padding-right: 25px;
}

.hours {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}

.icecream-image {
	display: block;
	margin: 0 auto;
}

.icecream-image.second,
.icecream-image.third {
	display: none;
}

.cost {
	font-size: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

}

.cost-other {
	font-size: 24px;
	font-weight: 700;
}

.ice-cream-text {
	display: block;
	font-weight: 600;
	width: 256px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #b0c0b7;
}

.button-watch {
	display: none;
	max-width: 202px;
	padding: 10px 15px;
	margin-left: 30px;
}

.button-watch:hover {
	max-width: 202px;
	text-align: center;
	padding: 10px 15px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-item {
	padding-right: 11px;
}

.social-list {
	display: flex;
	padding: 36px 0 30px 28px;
}

.twitter-icon:hover {
	fill: #ffffff;
}

.about-column {
	display: flex;
	max-width: 330px;
}

.about {
	display: flex;
	flex-direction: column;
	position: relative;
}

.about::before {
	content: "";
	position: absolute;
	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	width: 18px;
	height: 15px;
	left: -22px;
	top: 3px;
}

.documents {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.suppliers {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
	border-bottom: 1px solid #b0c0b7;
}

.production,
.about-documents,
.standarts {
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid #b0c0b7;
}

.footer-copyright {
	display: flex;
	flex-direction: column;
	padding-right: 26px;
}

.made-in {
	font-size: 12px;
	line-height: 18px;
}

.made-in-underline {
	text-decoration: underline;
}

.made-in-underline:hover {
	color: #ffbc9e;
}
                                                   /* главная страница */

.catalog:hover {
	color: #000000;
	border-radius: 30px;
	background-color: #ffffff;
}

.catalog:active {
	box-shadow: 0 -2px 0 0 #696969;
}

.delivery:active,
.company:active {
	box-shadow: 0 -2px 0 0 #696969;
}

.delivery:hover,
.company:hover {
	color: #000000;
	border-radius: 30px;
	background-color: #ffffff;
}

.catalog {
	position: relative;
	padding: 3px 13px 6px 13px;
}

.delivery,
.company {
	padding: 3px 13px 6px 13px;
}

.navigation-item:hover .catalog-list {
	display: block;
}

.catalog-list {
	display: none;
	border-radius: 5px;
	width: 144px;
	background-color: rgb(248, 247, 244);
  	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  	margin-top: 12px;
  	position: absolute;
  	margin-left: 4px;
  	left: -10px;
}

.catalog-type-new {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.catalog-type {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.catalog-item {
	padding-left: 20px;
	padding-top: 12px;
	padding-bottom: 13px;
	cursor: pointer;
}

.catalog-item:hover {
	background-color: #fbded7;
}

.catalog-type:active {
	color: #ffffff;
}

.catalog-item:active {
	background-color: #f6b5a5;
}

.catalog-item.new {
	border-bottom: 1px solid #d1d0ce;
}

.catalog-item.new {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.catalog-item.last {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.enter-text,
.recycle-text {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
}

.recycle-text {
	padding-left: 5px;
}

.enter-text {
	padding-left: 5px;
}

.button-choose {
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	padding: 7px 40px 12px 40px;
	border-radius: 30px;
  	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-text {
	position: absolute;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	width: 678px;
	bottom: 370px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.slider-item {
	position: relative;
}

label.image {
	position: relative;
}

label.image::before {
	position: absolute;
	content: "";
	border: 2px solid #ffffff;
	border-radius: 50%;
	box-shadow: none;
	background-color: #849d8f;
	height: 21px;
	width: 21px;
	cursor: pointer;
}

.sliders .button-wrap {
	position: absolute;
	bottom: 286px;
	left: 50%;
	transform: translateX(-50%);
}

.button2:hover,
.button3:hover {
	background-color: #b2c1b7;
} 

.button-current {
	background-color: #ffffff;
}

.slider:active {
	background-color: #ffffff;
}


.bonus-section {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.free-bonus {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.button-bonus1,
.button-bonus2,
.button-watch,
.button-order {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.button-bonus1,
.button-bonus2 {
	padding: 10px 22px;
}

.bonus1 {
	background-image: url("../img/raspberry.jpg");
	background-repeat: no-repeat;
	background-color: #d1294f;
	margin-right: 26px;
}

.bonus2 {
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
	background-color: #4b2f23;
}

.bonuses {
	display: flex;
	flex-direction: column;
	max-width: 560px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 18px 22px 30px 18px;
}

.bonus-wrap {
	margin-left: auto;
	margin-top: 50px;
}

.bonus-text {
	font-size: 18px;
	font-weight: 700;
	margin-top: 18px;
}

.teaser {
	margin-bottom: 20px;
	margin-top: 40px;
}

.teaser-item img {
	position: absolute;
	border-radius: 50%;
	z-index: 1;
	cursor: pointer;
}

.teaser-item .cost-wrapper {
	z-index: 3;
}

.teaser-item::before {
	position: absolute;
	content: "";
	width: 62px;
	height: 62px;
	background-image: url("../img/hit.svg");
	border-radius: 50%;
	z-index: 2;
	left: 15px;
}

.teaser-item:hover::after {
	content: "";
	position: absolute;
	width: 294px;
	height: 405px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	top: 0;
	left: 0;
	z-index: 10;
}

.teaser-item:hover img,
.teaser-item:hover .ice-cream-text, 
.teaser-item:hover .button-wrap {
	z-index: 11;
}

.teaser-item:hover::before,
.teaser-item:hover .cost-wrapper {
	z-index: 12;
	cursor: pointer;
}

.cost-wrapper {
	position: absolute;
	top: 228px;
}

.main-features {
	background-image: url("../img/waffle.jpg");
	background-repeat: no-repeat;
	max-width: 1150px;
	background-color: #e9d9b9;
	border-radius: 15px;
	padding: 25px 22px 26px 22px;
	margin: 0 auto;
}

.about-main-features {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
	color: #323232;
}

.main-features-item {
	max-width: 540px;
	position: relative;
}

.main-features-item.feature1,
.main-features-item.feature3 {
	margin-right: 30px;
}

.main-features-wrap1,
.main-features-wrap2 {
	display: flex;
	margin-top: 20px;
}

.main-features-text {
	color: #323232;
	padding-left: 58px;
}

.feature1::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/ice-cream.svg");
	background-repeat: no-repeat;
	border-radius: 50%;
	top: -12px;
}

.feature2::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/cow.svg");
	background-repeat: no-repeat;
	border-radius: 50%;
	top: -12px;
}

.feature3::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/leaf.svg");
	background-repeat: no-repeat;
	border-radius: 50%;
	top: -10px;
}

.feature4::before {
	position: absolute;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/termopac.svg");
	background-repeat: no-repeat;
	border-radius: 50%;
	top: -10px;
}

.subscribe-column {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.whatsnew {
	font-weight: 600;
	color: #323232;
	display: block;
}

.news {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
	text-decoration: underline;
	text-decoration-color: #323232;
	max-width: 282px;
	display: inline-block;
	margin-top: 5px;
}

.news-blog {
	background-image: url("../img/newsblog.jpg");
	background-color: #ffffff;
	background-repeat: no-repeat;
	max-width: 560px;
	margin-right: 26px;
	padding: 15px 0 80px 20px;
	flex-grow: 1;
}

.news-blog,
.distribution {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.subscribe {
	color: #5a5a5a;
}

.subscribe-form {
	display: flex;
	max-width: 562px;
	margin-top: 38px;
}

.distribution {
	background: url("../img/post.jpg");
	background-repeat: no-repeat;
	max-width: 560px;
	padding: 30px 24px 44px 24px;
}

.email {
	max-width: 366px;
}

.button-submit {
	padding-left: 18px;
	padding-right: 18px;
}

.subscribe-wrap {
	margin-left: 10px;
}

.address-section {
	position: relative;
	margin-top: 40px;
}

.map {
	background-color: #e5ddc3;
}

.address-text {
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.address-text.orders {
	margin-top: 16px;
}

.address-text.hours {
	margin-top: 5px;
}

.address,
.phone-black {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.address-column {
	background-color: #fdfefe;
	max-width: 302px;
	border-radius: 15px;
	padding: 32px 23px 30px 23px;
	position: absolute;
	right: 28px;
	top: 63px;
}

.modal-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	z-index: 1;
}

.button-feedback {
	padding: 10px 24px;
	margin-top: 26px;
}

.user-text.feedback,
.email {
	font-size: 16px;
}

.comments {
	resize: none;
	font-family: Roboto;
	font-size: 16px;
	overflow: auto;
}

.feedback-text {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
}

.feedback-form {
	display: flex;
	flex-direction: column;
}

.feedback-wrap {
	padding: 24px 0;
}

.user-text.feedback {
	width: 268px;
	margin-bottom: 20px;
}

.button-wrap.feedback {
	margin-left: auto;
}

.modal-feedback {
	position: fixed;
	display: none;
	background-color: #f8f7f4;
	background-image: url("../img/pattern-light.jpg");
	background-repeat: repeat;
	background-position: 0 0;
	border-radius: 10px;
	width: 477px;
	padding: 20px 25px 25px;

	top: 338px;
	right: 33%;
	z-index: 2;
}

.modal-close {
	position: absolute;
	height: 22px;
	width: 22px;
	font-size: 0;
	border: 0;
	cursor: pointer;
	background-color: #f8f7f4;

	top: 16px;
	right: 16px;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #323232;
	right: -2px;
    top: 10px;
} 

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

                                           /* внутренняя */

.recycle-item {
	position: relative;
}

.recycle-text2 {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #323232;
	padding-left: 5px;
}

.recycle-products {
	display: none;
	position: absolute;
	z-index: 1;
	right: 0;
	width: 542px;
	margin-top: 5px;
	padding: 16px 16px 30px 16px;
	background-color: #f8f7f4;
	background-image: url("../img/pattern-light.jpg");
	border-radius: 5px;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

}

.first-product {
	position: relative;
	display: flex;
	margin-bottom: 10px;
}

.second-product {
	display: flex;
}

.modal-close-table {
	position: absolute;
	height: 14px;
	width: 14px;
	font-size: 0;
	border: 0;
	cursor: pointer;
	background-color: transparent;
}

.modal-close-table.image1 {
	top: 10px;
	left: -20px;
}

.modal-close-table.image2 {
	top: 80px;
	left: 12px;
}

.modal-close-table.image1::before,
.modal-close-table.image1::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 1px;
	background-color: #323232;
	right: 0;
	top: 5px;
}

.modal-close-table.image1::before {
	transform: rotate(45deg);
}

.modal-close-table.image1::after {
	transform: rotate(-45deg);
}

.modal-close-table.image2::before,
.modal-close-table.image2::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 1px;
	background-color: #323232;
	right: 0;
	top: 5px;
}

.modal-close-table.image2::before {
	transform: rotate(45deg);
}

.modal-close-table.image2::after {
	transform: rotate(-45deg);
}

.table-text {
	margin-top: 7px;
} 

.table-text.one {
	margin-right: 30px;
} 

.table-text.two {
	margin-right: 27px;
}

.table-text.three {
	margin-right: 10px;
}

.inner-page .recycle-wrap {
	background-color: #f7f6f3;
}

.big-recycle:hover .recycle-products {
	display: block;
}

.recycle-cost {
	font-size: 15px;
	line-height: 18px;
	color: #323232;
} 

.recycle-table {
	padding-left: 14px;
	padding-bottom: 12px;
	border-bottom: 1px solid #cacac7;
}

.table-image {
	border-radius: 50%;
	max-width: 33px;
	margin-right: 12px;
}

.order-wrap {
	display: flex;
	margin-left: auto;
	align-items: flex-end;
	flex-direction: column;
	max-width: 200px;
	padding-top: 14px;
}

.button-order {
	padding: 10px 13px;
}

.button-wrap.order {
	margin-top: 24px;
}

.hours-wrap {
	margin-left: auto;
	text-align: right;
	padding-right: 25px;
}

nav.breadcrumbs {
	display: flex;
	align-items: center;
	padding-left: 25px;
}

.breadcrumbs-wrap {
	display: flex;
}

.breadcrumbs-list {
	display: flex;
}

.breadcrumbs-item .breadcrumbs.one,
 .breadcrumbs-item .breadcrumbs.two {
	text-decoration: underline;
	text-decoration-color: #b0c0b7;
}

.breadcrumbs-item {
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs-item .breadcrumbs {
	padding-right: 5px;
}

.crumbs {
	padding-right: 5px;
}

.product-text,
.product-cost {
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}

.product-text {
	width: 218px;
}

.product-cost.kg {
	width: 100px;
}

.product-cost.common {
	width: 52px;
}

.grey {
	font-size: 13px;
	line-height: 16px;
	color: #999999;
}

.catalog-current {
	border-radius: 30px;
	background-color: #d07058;
	padding: 3px 13px 6px 13px;
}

.inner-page h2 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;

	padding-bottom: 30px;
	padding-left: 25px;
}

.sorting-text,
.sorting-cost,
.percents-text,
.stuff {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
}

.sorting-popular-text,
.percents-item,
.stuff-list-item,
.button-use {
	line-height: 18px;
	font-weight: 600;
} 

.popular-text {
	font-size: 14px;
	line-height: 16px;
	color: #323232;
}

.popular-list {
	position: absolute;
	display: none;
	background-color: #ffffff;
	width: 192px;
	margin-top: 9px;
}

.popular-list-item {
	padding-left: 20px;
}

.popular-list-item:hover {
	background-color: #1e90ff;
}

.popular-list-item:hover .popular-text {
	color: #ffffff;
}

.sorting-popular {
	background-color: #aabab0;
	border-radius: 30px;
	padding: 10px 15px 9px 15px;
}

.sorting-popular:hover {
	cursor: pointer;
	color: #323232;
	background-color: #ffffff;
}

.sorting-popular:hover path {
	fill: #323232;
}

.sorting-list-item {
	position: relative;
	cursor: pointer;
}

.sorting-list-item:hover .popular-list {
	display: block;
}

.sorting-text {
	padding-left: 15px;
	margin-bottom: 14px;
}

.sorting-column {
	margin-bottom: 28px;
	margin-right: 15px;
}

.icon-down {
	margin-left: 20px;
}

.sorting-cost {
	margin-left: 17px;
	margin-bottom: 14px;
}

.range-wrap {
	margin-right: 15px;
}

.range-controls {
	position: relative;
	padding-top: 17px;
	background: #aabab0;
	border-radius: 30px;
	width: 220px;
	height: 37px;
	top: -9px;
}

.range-controls .scale {
	background: #d1dad3;
	margin-left: 22px;
	margin-right: 25px;
}

.range-controls .bar {
	height: 4px;
	background: #f8f7f4;
	width: 84px;
	margin-left: 30px;
}

.range-controls .toggle {
	position: absolute;
	top: 8px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border-radius: 50%;
	border: 8px solid #ffffff;
	cursor: pointer;	
}

.range-controls .toggle-min {
	left: 35px;
}

.range-controls .toggle-max {
	right: 70px;
}

.range-controls .toggle-min:hover {
	width: 22px;
	height: 22px;
	border: 9px solid #ffffff;
}

.range-controls .toggle-max:hover {
	width: 22px;
	height: 22px;
	border: 9px solid #ffffff;
}

.percents-text {
	margin-bottom: 6px;
	margin-left: 17px;
}

.classification-form {
	padding-left: 25px;
}

.forms-wrapper {
	display: flex;
}

.percents-item {
	padding-right: 16px;
}

.percents-list {
	display: flex;
	align-items: center;
	background: #aabab0;
	height: 37px;
	border-radius: 30px;
	padding-left: 14px;
}

input.percents + label.percents-label {
	padding-left: 35px;
}

label.percents-label {
	position: relative;
	cursor: pointer;
}

label.percents-label::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	background: #aabcb2;
	border-radius: 50%;
	border: 4px solid #eef2f0;
	bottom: -3px;
	left: 0;
}

input.percents:checked + label.percents-label::after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background: #eef2f0;
	border-radius: 50%;
	bottom: 5px;
	left: 8px;
}

input.percents:disabled + label.percents-label::before {
	border: 4px solid #b5c4bb;
}

input.percents:disabled + label.percents-label::after {
	background: #b5c4bb;
}

input.percents:hover + label.percents-label::before {
	border: 4px solid #ffffff;
}
input.percents:hover + label.percents-label::after {
	background: #ffffff;
}

.stuff-list {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	background-color: #a8b9b0;
	height: 37px;
	border-radius: 30px;
	margin-right: 15px;
}

.stuff-wrap {
	display: flex;
	align-items: center;
}

.stuff {
	padding-left: 15px;
	margin-bottom: 6px;
}

.stuff-list-item:not(:last-child) {
	padding-right: 20px;
}

label.stuff-label {
	padding-left: 32px;
	cursor: pointer;
	line-height: 23px;
	display: inline-block;
	height: 23px;
}

input.checkbox:checked + label.stuff-label {
	background-image: url("../img/catalog/checkbox-on.svg");
	background-size: 27px 23px;
}

input.checkbox + label.stuff-label {
	background-image: url("../img/catalog/checkbox-off.svg");
	background-repeat: no-repeat;
}

input.checkbox:hover:checked + label.stuff-label {
	background-image: url("../img/catalog/checkbox-on-white.svg");
}

input.checkbox:hover + label.stuff-label {
	background-image: url("../img/catalog/checkbox-off-white.svg");
}

input.checkbox:disabled + label.stuff-label {
	background-image: url("../img/catalog/checkbox-off-disabled.svg");	
}

input.checkbox:checked:disabled + label.stuff-label { 
	background-image: url("../img/catalog/checkbox-on-disabled.svg");
	}

.button-use {
	font-size: 16px;
	cursor: pointer;
	border: 2px solid #fbfcfb;
	border-radius: 30px;
	color: #ffffff;
	background-color: #a6b7ae;
	padding: 8px 24px;
}

.button-use:hover {
	background-color: #fbfcfb;
	color: #323232;
}

.button-use:active {
	background-color: #eaeaea;
	box-shadow: inset 0px 2px 1px 0px #6a6b6a;
	color: #323232;
	border: none;
}

.delicious-section {
	margin-top: 34px;
}

.delicious-section img {
	position: absolute;
	cursor: pointer;
}

.delicious-section .ice-cream-text,
.teaser-item .ice-cream-text {
	position: absolute;
	bottom: 28px;
	left: 50%;
	transform: translateX(-50%);
}

.third-row-item .ice-cream-text.last {
	bottom: 50px;
}

.teaser-list,
.first-row-list,
.second-row-list, 
.third-row-list {
	display: flex;
	padding: 0 12px;
}

.first-row-item img,
.second-row-item img,
.third-row-item img {
	border-radius: 50%;
}

.teaser-item,
.first-row-item,
.second-row-item,
.third-row-item {
	position: relative;
	width: 294px;
	height: 360px;
	padding: 6px 13px 20px 13px;
}

.teaser-item .button-wrap,
.first-row-item .button-wrap,
.second-row-item .button-wrap,
.third-row-item .button-wrap {
	position: absolute;
	z-index: 1;
	bottom: -25px;
	left: 20px;
}


.first-row-item:hover::before,
.second-row-item:hover::before,
.third-row-item:hover::before {
	content: "";
	position: absolute;
	width: 294px;
	height: 405px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	top: 0;
	left: 0;
	z-index: 10;
} 

.first-row-item:hover .button-wrap,
.second-row-item:hover .button-wrap,
.third-row-item:hover .button-wrap, 
.first-row-item:hover img, 
.second-row-item:hover img,
.third-row-item:hover img,
.first-row-item:hover .ice-cream-text, 
.second-row-item:hover .ice-cream-text, 
.third-row-item:hover .ice-cream-text {
	z-index: 11;
}

.first-row-item:hover .cost-wrapper,
.second-row-item:hover .cost-wrapper,
.third-row-item:hover .cost-wrapper {
	z-index: 12;
	cursor: pointer;
}

.teaser-item:hover .button-watch,
.first-row-item:hover .button-watch,
.second-row-item:hover .button-watch,
.third-row-item:hover .button-watch {
	display: block;
}

.pagination {
	max-width: 240px;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 18px;
}

.pagination-item.current,
.pagination-item.current:hover {
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
	margin-left: 15px;
}

.pagination-item.next:hover,
 .pagination-item.next:active {
	background-color: transparent;
}

.pagination-item.fifth {
	margin-right: 5px;
}

.pagination-item {
	padding: 5px 9px;
}

.pagination-item:hover,
.pagination-item:hover {
	color: #ffffff;
	background-color: #9db1a5;
	border-radius: 50%;
}

.pagination-item:active {
	color: #323232;
	background-color: #ffffff;
	border-radius: 50%;
}

.pagination .prev {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	bottom: -2px;
}

.pagination .prev::before {
	position: absolute;
	content: "";
	background-image: url("../img/catalog/icon-left.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 8px;
	height: 12px;
	transform: rotate(180deg);
} 

.pagination .next {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	bottom: 2px;
}

.pagination .next::after {
	content: "";
	position: absolute;
	background-image: url("../img/catalog/icon-right.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 8px;
	height: 12px;
}

.inner-page .main-footer {
	border-top: 1px solid #b0c0b7;
	margin: 0 10px;
}

.inner-page .social-list {
	padding: 36px 0 30px 0;
}

.inner-page .footer-copyright {
	padding-right: 0;
}